[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
noise = "*"
matplotlib = "*"
pandas = "*"
pygame = "*"
pathfinding = "*"
numpy = "*"
urizen = "*"
tqdm = "*"
mkdocs = "*"

[dev-packages]

[scripts]
dev = "./main.py"

[requires]
python_version = "3.8.5"
